<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.yedam.app.emp.mapper.DeptMapper">
   
   	<sql id="deptWhere">
  		<where>
  		<if test="departmentId != null and departmentId !=''">
  		AND department_id in
  		<foreach open="(" close=")" collection="deptArr" item="dept" separator=",">
  			#{dept}
  		</foreach>
  		</if>
  		<if test="departmentName != null and departmentName != ''">
  		AND department_name like '%${departmentName}%'
  		</if>
  		</where>
  	</sql>
 
 <select id="deptList" resultType="DeptVO">
 	select *
 	from departments
 	
 	<include refid="deptWhere"></include>
  
  		<choose>
  			<when test="orderColumn != null">
  			ORDER BY ${orderColumn}  			
  			</when>
  			<otherwise>
  			ORDER BY department_id
  			</otherwise>
  		</choose>
  	</select>
  	
 
 <update id="updateDept"  parameterType="DeptVO">
 update departments set
 		department_name=#{departmentName},
 		manager_id=#{managerId},
 		location_id=#{locationId}
 where department_id=#{departmentId} 		
 </update>
 
 
 <delete id="deleteDept" parameterType="int">
 delete from departments where department_id=#{departmentId} 		
 </delete>
 
 <insert id="insertDept" parameterType="DeptVO">
 INSERT INTO departments (department_id,department_name,manager_id,location_id)
 VALUES(DEPARTMENTS_SEQ.NEXTVAL,#{departmentName},#{managerId},#{locationId})
 </insert>
 
 <select id="selectDept" resultType="DeptVO">
 SELECT *
 FROM departments
 where department_id=#{departmentId}
 </select>
 
 <select id="selectLocations" resultType="map">
  		select location_id "locationId",
  			   city
  		from   locations
  		order by city
 </select>
 
 
 <select id="selectCount" resultType="int">
  	select count(*) from departments
  	<include refid="deptWhere"></include>
 </select>
 
 <select id="selectEmp" resultType="map">
  		select employee_id "employeeId",
  			   manager_id "managerId",
  			   department_id "departmentId",
  			   first_name "firstName"
  		from   employees
  	</select>
 
 
 </mapper>